<center>
<object width="640" height="360" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" id="COSPlayer">
<param name="movie" value="http://control.lifeonshow.tv/actionImageLive.swf"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<param name="wmode" value="transparent"></param>
<embed src="http://control.lifeonshow.tv/actionImageLive.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="360" wmode="transparent"></embed>
</object>
</center>
script(type='text/javascript', src=nowpath)