center
  strong
    p Due to high demand this site has reached its capacity limit. Please switch to the following link 
    a(href="http://www.britishcouncil.org/new/science/famelab-2011/") http://www.britishcouncil.org/new/science/famelab-2011/